<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
      <key>items</key>
      <array>
        <dict>
           <key>assets</key>
           <array>
             <dict>
               <key>kind</key>
               <string>software-package</string>
               <key>url</key>
               <string><![CDATA[https://down.dibaqu.com/o_1d47s5dhtkp7lh1iop1d1u16q0a.ipa?sign=abe487a589b08c21c2b28ced79754b09&t=5c9a815e]]></string>
             </dict>
             <dict>
               <key>kind</key>
               <string>display-image</string>
               <key>needs-shine</key>
               <integer>0</integer>
               <key>url</key>
               <string><![CDATA[https://static.dibaqu.com/icon/a2/fb/a2fbeb31676322002768e133a15dfd2f.png]]></string>
             </dict>
             <dict>
               <key>kind</key>
               <string>full-size-image</string>
               <key>needs-shine</key>
               <true/>
               <key>url</key>
               <string><![CDATA[https://static.dibaqu.com/icon/a2/fb/a2fbeb31676322002768e133a15dfd2f.png]]></string>
             </dict>
           </array>
           <key>metadata</key>
           <dict>
             <key>bundle-identifier</key>
             <string>com.chucklefish.stardewvalley.tb</string>
             <key>bundle-version</key>
             <string><![CDATA[1.044]]></string>
             <key>kind</key>
             <string>software</string>
             <key>title</key>
             <string><![CDATA[抠群163177335]]></string>
           </dict>
        </dict>
      </array>
  </dict>
</plist>